

@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,300&family=Cinzel&family=Golos+Text:wght@500&family=Source+Code+Pro&family=VT323&display=swap');



* {
    box-sizing: border-box;

}


body {
    margin: 0;
    font-family: 'Source Code Pro', monospace;
}


.nav {
    background-color: rgba(0, 0, 0, 0.5); 
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 0 1rem;
    font-size: 2rem;
    
}


.nav ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 2rem;
    padding: 1rem;
    font-size: 1rem;
}


.nav a {
    color: inherit;
    text-decoration: none;
    display: flex;
}

.nav li:hover {
    background-color: #777;
}


.nav li.active {
    background-color: #555;
}


h1{ 
    text-align: center;
    padding: 30px;
}

p {
    
        text-align: center;
        padding: 30px;
    
}


.resume-container {
    width: 80%;
    margin: 0 auto;
    padding: 40px; /* Adjust as needed */
    box-sizing: border-box;
    padding-bottom: 200px;
  }
  

.sideNote {
    color: rgb(106, 105, 105);
    opacity: 50%;
    list-style-type: none;
}


.video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1; /* To place the video below other content */
  }
  
  .background-video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    opacity: 60%;
  }